<h1 class='col text-center mt-4 text-white'>熱門地點</h1>

<div class='card-group mt-4'>

  <div class='card border border-1 text-center bg-transparent'>
    <a href='/search?location=kaohsiung'>
      <img
        src='https://images.chinatimes.com/newsphoto/2023-01-06/1024/20230106004870.jpg'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body text-white'>
        <h2 class='card-title'>高雄</h2>
        <p class='card-text'>Kaohsiung</p>
      </div></a>

  </div>

  <div class='card border border-1 text-center bg-transparent'>
    <a href='/search?location=taipei'>
      <img
        src='https://a.cdn-hotels.com/gdcs/production57/d1344/58e63eaa-73ec-48f3-828a-c287ee898ac3.jpg?impolicy=fcrop&w=1600&h=1066&q=medium'
        class='card-img-top border border-light border-3"'
        alt='...'
      />
      <div class='card-body text-white'>
        <h2 class='card-title'>台北</h2>
        <p class='card-text'>Taipei</p>
      </div>
    </a>
  </div>

  <div class='card border border-1 text-center bg-transparent'>
    <a href='/search?location=seoul'><img
        src='https://i2.wp.com/www.agoda.com/wp-content/uploads/2019/05/Seoul-itinerary-Seoul-Bukchon-Hanok-Village.jpg?ssl=1'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body text-white'>
        <h2 class='card-title'>首爾</h2>
        <p class='card-text'>Seoul</p>
      </div></a>
  </div>

  <div class='card border border-1 text-center bg-transparent'>
    <a href='/search?location=tokyo'>
      <img
        src='https://static.gltjp.com/glt/prd/data/article/21000/20183/20220816_214717_58d15bee_w1920.jpg'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body text-white'>
        <h2 class='card-title'>東京</h2>
        <p class='card-text'>Tokyo</p>
      </div></a>
  </div>

</div>

<div class='container border mt-5'>

  <div class='row'>
    <div class='col text-white'>
      <p class='h1 mt-1'>溫度：{{temp}}</p>
      <p>{{location}}</p>
      <p>最高溫度：{{highTemp}}</p>
      <p>最低溫度：{{lowTemp}}</p>
      <p>目前時間：{{date}}</p>

    </div>
    <div class='col'>

    </div>
    <div class='col'>
      <img src='{{weatherIcon}}' style='width:50%' />
    </div>

  </div>

</div>